.header {
    height: 120px;
    background-image: linear-gradient(180deg, #fb4124, #fe6133);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item-link--border::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 16px;
    margin-right: 4px;
}

.header__navbar-title--no-poiter {
    cursor: text;
    color: var(--white-color);
    opacity: 1;
}
/* Header QR code */
.header__qr {
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}

/* Ná»‘i modal QR */
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -16px;
    height: 20px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}


.header__qr-download-img {
    height: 16px;
}

