.header {
    height: 120px;
    background-image: linear-gradient(180deg, #fb4124, #fe6133);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item--notify:hover .header__notify {
    display: block;
}

.header__navbar-language--options:hover .header__navbar-language {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item-link--border::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 16px;
    margin-right: 4px;
}

.header__navbar-title--no-poiter {
    cursor: text;
    color: var(--white-color);
    opacity: 1;
}
/* Header QR code */
.header__qr {
    width: 184px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}

/* Nối modal QR */
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -16px;
    height: 20px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}


.header__qr-download-img {
    height: 16px;
}

/* HEADER NOTIFY*/
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -32px;
    display: block;
    border-width: 21px 38px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 1px;
}

.header__notify-img {
    display: flex;
    justify-content: center;
}

.header__notify-img-login {
    height: 103px;
    margin-top: 95px;
}

.header__notify-desc {
    color: #222;
    width: 100%;
    margin-top: 26px;
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.4rem;
}

.header__notify-btn{
    display: flex;
    text-decoration: none;
    background-color: #e8e8e8;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.header__notify-btn-signup,
.header__notify-btn-signin {
    flex: 1;
    padding: 12px 0;
    cursor: pointer;
}

.header__notify-btn-signup a,
.header__notify-btn-signin a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__notify-btn-signup:hover,
.header__notify-btn-signin:hover {
    background-color: #d9d6d6;
}

.header__notify-btn-signup:hover a,
.header__notify-btn-signin:hover a {
    color: #ee4d2d;
}

/* NAVBAR LANGUAGE */
.header__navbar-language {
    position: absolute;
    top: 118%;
    right: 0;
    width: 196px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__navbar-language::before {
    content: "";
    position: absolute;
    top: -32px;
    display: block;
    border-width: 21px 38px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 1px;
}

.header__navbar-language a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #222;
}

.header__navbar-language--option {
    margin-left: 10px;
}

.header__navbar-VN,
.header__navbar-EN {
    padding: 10px;
}

.header__navbar-VN:hover a,
.header__navbar-EN:hover a{
    color: #ee4d2d;
}

/* Auth Modal */
.auth-form {
    width: 500px;
    overflow: hidden;
    
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: #222;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: #ee4d2d;
    font-weight: 450;
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
}

.auth-form__aside--login {
    display: flex;
    justify-content: flex-end;
}

.auth-form__forgot-password,
.auth-form__policy-link {
    text-decoration: none;
    color: #ee4d2d;
}

.auth-form__help {
    text-decoration: none;
    color: #847f7f;
    line-height: 1.4;
    font-size: 1.2rem;
}
.auth-form__forgot-password {
    font-size: 1.2rem;
    line-height: 1.4;
}

.auth-form__separate {
    display: block;
    border-left: 1px solid #dcd7d7;
    margin: 0 16px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 70px;
}

.auth-form__controls-back {
    margin-right: 10px;
}

.auth-form__socials {
    background-color: #f2eaea;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.social__icon {
    font-size: 1.8rem;
    margin-right: 8px;
}
.btn--with-icon {
    padding-right: 10px;
    font-weight: 500;
    flex: 1;
}

.icon__fb {
    background-color: rgb(14, 14, 192);
    color: #fff;
    margin-right: 7px;
}

.icon__gg {
    background-color: white;
    margin-left: 7px;
}